[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
"beautifulsoup4" = "*"
django-heroku = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"
