<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <table style="width:100%">
            <tr>
              <th colspan="2">幣別</th>
              <th>現金買入</th> 
              <th>現金賣出</th>
              <th>即期買入</th>
              <th>即期賣出</th>
            </tr>
            <tr align="center">
              <td>美金</td>
              <td>USD</td>
              <td>Smith</td> 
              <td>50</td>
            </tr>
            {% for fx in fx_list %}
            <tr align="center">
                <td>{{ fx.currency_cn }}</td>
                <td>{{ fx.currency_en }}</td>
                <td>{{ fx.cash_buying }}</td>
                <td>{{ fx.cash_selling }}</td>
                <td>{{ fx.spot_buying }}</td>
                <td>{{ fx.spot_selling }}</td> 
            </tr>
            {% endfor %}
          </table> 
        <h1>Hello World!</h1>
        
    </body>
</html>